html {
    scroll-behavior: smooth;
}
#linuxService,
#zabixService,
#siemService,
#arduinoService,
#linuxDoc,
#zabixDoc,
#siemDoc,
#arduinoDoc {
    scroll-margin-top: 80px;
}

/* ---------- Início do Header ---------- */

/* ---------- Mobiel first ---------- */

header {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 14px 30px;
    gap: 30px;
    width: 100%;
    background-color: var(--red-v700);
    transition: gap 0.4s ease;
    z-index: 1001;
}

header.noGap {
    gap: 0px;
}

header>.imagesWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    transition: gap 0.4s ease;
}

.imagesWrap>button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#links {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

#links.open {
    max-height: 350px;
}

nav>ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
}

nav>ul>li>a {
    font-size: 1rem;
    color: var(--grey-c100);
    text-decoration: none;
}

/* ---------- Fim do Header ---------- */
/* =========================================
   Main / What-is
   ========================================= */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Este é o css do pop-up e de como que ele ficaria estilizado dentrodas
telas Copiem tudo o que está aqui e colem no css de vocês, se forem usar. */
.imgPopUp {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-bottom: 20px;
    width: 100%;
    max-width: 800px;
    height: 100%;
    aspect-ratio: 619/583.24;
    background-size: contain;
    background-image: url(/src/assets/images/ad1RackIlustration.svg);
    border-radius: 8px;
}

/* Hotspots clicáveis */
.imgService {
    position: relative;
    margin: 8% 0 0 8%;
    border: 1px solid transparent;
    z-index: 999;
    cursor: pointer;
}

.imgService:nth-of-type(1) {
    top: 2.5%;
    left: 0.8%;
    width: 35%;
    height: 10%;
}

.imgService:nth-of-type(2) {
    margin-top: 3.5%;
    top: 0.3%;
    left: 1.8%;
    width: 33%;
    height: 13%;
}

.imgService:nth-of-type(3) {
    margin-top: 0.2%;
    top: 1%;
    left: 3%;
    width: 30%;
    height: 18%;
}

.imgService:nth-of-type(4) {
    margin-top: 0.5%;
    top: 3%;
    left: 2%;
    width: 32%;
    height: 15%;
}

.popUp {
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.95);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 20px;
    border-radius: 15px;
    background-color: var(--red-v800);
    width: 75%;
    text-align: center;
}

.popUp.active {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    pointer-events: auto;
}

.popUp>p:nth-child(1) {
    font-size: 24px;
    color: var(--grey-c100);
    font-weight: 400;
}

.popUp>p:nth-child(2) {
    font-size: 18px;
    color: var(--grey-c200);
    font-weight: 400;
}

.popUp>img.closeBtn {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}



.whas_is {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.whas_is h1 {
  font-size: 60px;
  font-weight: 800;
  line-height: 140%;
  margin: 80px 0 0 0;
}

.whas_is img {
  width: 85%;
}

.conteine-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.conteine-rack5 {
  border-radius: 10px;
  border: 1px solid #b6b6b6;
  padding: 22px 16px;
  display: flex;
  flex-direction: column;
}

.conteine-rack5 h2 {
  margin-bottom: 30px;
  font-size: 44px;
  font-weight: 600;
  text-align: center;
}

.conteine-rack5 p {
  color: var(--grey-c900);
  font-size: 18px;
  
}
.conteine-rack5 li {
  color: var(--grey-c900);
  font-size: 18px;
}
.lists {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 20px;
}

.conteine-rack5 .conteiner-link {
  display: flex;
  justify-content: flex-end;
}

.conteine-rack5 .conteiner-link a {
  margin-bottom: 20px;
  color: var(--grey-c600);
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
}

.rack-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.rack-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  aspect-ratio: 619/583.24;
  background-image: url("/src/assets/images/fibra-Popup-hack.png");
  background-size: contain;
}

.rack-component h6 {
  font-family: var(--font-family-MS);
  font-size: var(--text-xl);
  font-style: normal;
  font-weight: var(--font-weight-medium);
  line-height: 141%;
}

.rack-button {
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;
}

.distribution {
  margin: 11.57% 0 0 0;
  left: 8.58%;
  width: 34.5%;
  height: 7.5%;
}

.switch {
  margin: 2.34% 0 0 0;
  left: 10.1%;
  width: 31.2%;
  height: 12.1%;
}

.monitor {
  margin: 1.34% 0 0 0;
  left: 11.1%;
  width: 29.2%;
  height: 17.1%;
}

.server {
  margin: 3.34% 0 0 0;
  left: 9.9%;
  width: 31.5%;
  height: 13.5%;
}

.patch {
  margin: 3.8% 0 0 0;
  left: 8.4%;
  width: 34.3%;
  height: 9.9%;
}

/* popup */
.popup {
  display: none;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.25s ease;
  background: var(--grey-c100);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 40%;
  position: relative;
  left: 55.4%;
  margin-top: -70%;
}

.popup h3 {
  text-align: center;
  font-family: var(--font-family-MS);
  font-size: var(--text-sm);
  font-style: normal;
  font-weight: var(--font-weight-medium);
  line-height: 130%;
}

.popup p {
  width: 100%;
  text-wrap: pretty;
  text-align: center;
  word-wrap: break-word;
  font-family: var(--font-family-MS);
  font-size: var(--text-xs);
  font-style: normal;
  font-weight: var(--font-weight-regular);
  line-height: 130%;
}

.popup.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.popup.hide {
  opacity: 0;
  transform: translateY(-20px);
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 22px;
  cursor: pointer;
}

/* =========================================
   Main / Service Styles
   ========================================= */
.services-documentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px;
}

.services-documentation>h2 {
    padding-top: 20px;
    width: 100%;
    border-top: 2px solid var(--grey-c500);
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: var(--grey-c1000);
}

.service-documentation {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.dropdown>img {
    max-height: 1200px;
}

.dropdown>h3 {
    font-size: 20px;
    font-weight: 500;
    color: var(--grey-c1000);
}

img.none {
    display: none;
}

.serviceContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;

}

.serviceContent.open {
    max-height: 2000px;
    opacity: 1;
}

.serviceContent>p {
    font-size: 16px;
    font-weight: 400;
    color: var(--grey-c900);
}

.serviceContent>img {
    align-self: center;
    max-width: 247px;
}

.serviceContent:last-child {
    align-items: flex-end;
}

.serviceContent>a {
    align-self: flex-end;
    font-size: 16px;
    font-weight: 300;
    color: var(--grey-c700);
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 24px;
    gap: 30px;
    background-color: var(--red-v700);
}

footer>.backInPage>h2 {
    margin-bottom: 12px;
    font-size: 30px;
    font-weight: 600;
    color: var(--grey-c100);
}

footer>nav>ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

footer>nav>ul>li>a {
    font-size: 16px;
    font-weight: 300;
    color: var(--grey-c100);
}

.contatos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 12px;
}

.contatos>h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--grey-c100);
}

.socialMedias {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

footer>.contact>.acesseTambem>h4 {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
    color: var(--grey-c100);
}

footer>.contact>.acesseTambem>a {
    font-size: 16px;
    font-weight: 300;
    color: var(--grey-c100);
    text-decoration: underline;
}

