<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="../../styles/global.css"/>
    <link rel="stylesheet" href="ppRack.css"/>
</head>

<body>

<!--
como esse componente estará em todas as páginas, só copiar e colar esse código na página de vocês
AVISO!! ⚠️ > não esqueça de trocar o caminho das imagens, bg-imgs, styles e script, senão o componente NÃO VAI FUNCIONAR
não esqueça de colocar os links da fonte no <head>, e de usar as variaveis criadas no global

 -->

<!--copiar daqui-->
<div class="rack-component">
    <h6>Clique nas imagens e veja mais sobre</h6>
    <div class="rack-container">
        <span data-popup="distribution" class="rack-button distribution"></span>
        <span data-popup="switch" class="rack-button switch"></span>
        <span data-popup="monitor" class="rack-button monitor"></span>
        <span data-popup="server" class="rack-button server"></span>
        <span data-popup="patch" class="rack-button patch"></span>

        <div class="popup" data-popup-id="distribution">
            <span class="close-popup">&times;</span>
            <h3>Distribuição</h3>
            <p>Ele é basicamente uma "caixa" ou painel onde os <span>cabos de fibra</span> que vêm da rua ou de outros
                andares (chamados de backbone) chegam e <span>são conectados aos equipamentos</span> ativos da rede
                (como
                switches, roteadores ou conversores de mídia).</p>
        </div>

        <div class="popup" data-popup-id="switch">
            <span class="close-popup">&times;</span>
            <h3>Switch</h3>
            <p>Ele é um equipamento de hardware que <span>conecta vários dispositivos</span> (computadores, impressoras,
                servidores, câmeras IP) <span>numa mesma rede</span> (LAN), permitindo que eles conversem entre si
                de forma eficiente.</p>
        </div>

        <div class="popup" data-popup-id="monitor">
            <span class="close-popup">&times;</span>
            <h3>Monitor</h3>
            <p>O Monitor KVM é um dispositivo que integra teclado, vídeo e mouse em uma <span>única estrutura.</span> Ele
                permite <span>controlar</span> vários servidores <span>a partir de um único console</span>, economizando espaço e
                facilitando a gestão.</p>
        </div>

        <div class="popup" data-popup-id="server">
            <span class="close-popup">&times;</span>
            <h3>Servidor</h3>
            <p>Um servidor é um <span>computador</span>, mas diferente do seu computador pessoal (onde você joga, digita
                textos ou navega na internet), o trabalho do servidor não é atender a uma pessoa sentada na
                frente dele. O trabalho dele é atender (servir) outros computadores.</p>
        </div>

        <div class="popup" data-popup-id="patch">
            <span class="close-popup">&times;</span>
            <h3>Patch Panel</h3>
            <p>O Patch Panel é um <span>painel passivo</span> (não usa energia) cheio de portas de rede (RJ45), que serve como um
                <span>ponto intermediário entre os cabos</span> que vêm das paredes e o Switch.</p>
        </div>
    </div>
</div>
<script src="popupScript.js"></script>
<!-- copiar até aqui -->
</body>
</html>
