html {
    scroll-behavior: smooth;
}

body {
    font-family: Montserrat, sans-serif;
}

.body1 {
    color: var(--grey-c700, #3B3B3B);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.body2 {
    color: var(--grey-c700, #3B3B3B);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

header {
    background: var(--red-v700, #E30613);
}

.header-content {
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    height: 73.254px;
    padding: 14px 30px;
    justify-content: space-between;
    align-items: center;

}

.menu-button {
    cursor: pointer;
}

/* padrão da navBar */
.main-nav {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.35s ease-in-out;
  width: 100%;
}

.menu-options.open {
    max-height: 500px;
    opacity: 1;
}

.menu-options a {
    color: var(--grey-c100, #FFF);
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 22.4px */
    padding: 10px 25px;
    border-radius: 4px;
}

.active {
  text-decoration: underline;
}

.main-nav a:hover {
  background: var(--Tons-de-Vermelho-c800);
}

.menu-open .main-nav {
  max-height: 500px; /* ✅ anima suavemente */
}


/* FOOTER*/
.site-footer {
  background: var(--Tons-de-Vermelho-c700);
  color: var(--Tons-de-Cinza-c100);
  display: flex;
  padding: 20px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  margin-top: auto;
}

a:active {
    text-decoration: underline;
}

h2 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

h3 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero img{
    width: 100%;
    max-width: 500px;
}

.hero h1 {
    margin: 8px;
}

main {
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    padding: 30px 16px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: stretch;

}

.main-content {
    display: flex;
    padding: 22px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    border-radius: 10px;
    border: 1px solid var(--grey-c300, #B6B6B6);
}

.main-content-wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.rack-img {
    width: 100%;
    max-width: 700px;
}

.main-content>h2 {
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
}

.main-title {
    color: #000;

    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.dropdown {
    width: 100%;
    display: flex;
    flex-direction: column;

    border-radius: 10px;
    border: 1px solid var(--grey-c300, #696969);
    background: #FFF;

    transition: background-color 0.2s ease-in-out;

    cursor: pointer;
}

.dropdown-header {
    display: flex;
    padding: 12px 18px;
    justify-content: space-between;
    align-items: center;
}

.dropdown-content {
    padding: 0 18px;
    opacity: 0;
    max-height: 0;
    overflow: hidden;

    transition: max-height 0.3s ease, opacity 0.2s ease, padding-bottom 0.2s ease;
}

.rack-fisico {
    display: flex;
    justify-content: center;
}

.dropdown-img {
    width: 600px;
}

.dropdown-arrow {
    transition: transform 0.3s ease;
}

.dropdown.open {
    background-color: var(--grey-c100);
}

.dropdown.open .dropdown-content {
    max-height: 700px;
    opacity: 1;
    padding-bottom: 12px;
}

.dropdown.open .dropdown-arrow {
    transform: rotate(180deg);
}


footer {
    display: flex;
    padding: 20px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    align-self: stretch;

    background: var(--red-v700, #E30613);
}

footer a {
    color: #FAFAFA;
}

footer h3 {
    color: #FAFAFA;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.footer-nav a {
    display: flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.footer-wrapper {
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.icons-wrapper {
    display: flex;
    align-items: center;
    gap: 14px;
}

.icons-wrapper a {
    padding: 4px;
    border-radius: 4px;

    transition: all 0.2s ease-in-out;
}

.icons-wrapper a:hover {
    background-color: var(--red-v600);
}

.icons-wrapper a:active {
    background-color: var(--red-v600)
}

.access-too-wrapper a {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
    /* 22.4px */
    text-decoration-line: underline;
}

@media (min-width: 835px) {
    footer {
        flex-direction: row;
        justify-content: space-around;
    }
}

.card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.card-container {
    position: relative;
    width: 250px;
    height: 250px;
    transition: all 0.3s ease;
}

.flip-card {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.flip {
    transform: rotateY(180deg);
}

.card-front {
    position: absolute;
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    padding: 1rem 1rem;

    border-radius: 10px;
    color: var(--grey-c100);
    background-color: var(--red-v600);
    backface-visibility: hidden;
}

.card-front .content-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-front .content-wrapper img {
    width: 180px;
    height: 180px;
}

.card-back {
    position: absolute;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;

    width: 100%;
    height: 100%;
    padding: 1rem 1rem;
    border-radius: 10px;
    color: var(--grey-c100);
    background-color: var(--red-v600);
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.card-back .content-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
}

.flip-icon {
    justify-self: end;
    align-self: end;
}

@media(min-width: 700px) {
    .card-wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .main-content-wrapper {
        flex-direction: row;
    }

    .card-container {
        width: 250px;
        height: 320px;
    }
}

@media(min-width: 1280px) {
    .card-container:hover {
        transform: translateY(-5px);
    }
}

.footer-group > h2 > a {
  color: var(--Tons-de-Cinza-c100);
}

.footer-links a {
  color: var(--Tons-de-Cinza-c100);

}